{%extends './main.html'%} 

{%block title%}Main Program {%endblock%} 
{%block  contentheader%} Main Program {%endblock%} {%block breadcrumb%} Main Program
{%endblock%} {%block content%}
<div></div>
<div class="row">
  <div class="row">
    <div class="col-sm-4">
      <table class="table table-borderless shadow">
        <tbody>
          <form action="javascript:void(0)" id="mainprogramform" method="POST">
            {% csrf_token %}
            <tr>
              <td>
                <label for="lblmp_name_kh" class="form-label">Name in Kh</label>
                {{mainprogramform.mp_name_kh}}
              </td>
            </tr>
            <tr>
              <td>
                <label for="lblmp_name_en" class="form-label required"
                  >Name in En</label
                >
                {{mainprogramform.mp_name_en}}
              </td>
            </tr>
            <tr>
              <td>
                <label for="abbreviation" class="form-label"
                  >Abbreviation</label
                >
                {{mainprogramform.abbreviation}}
              </td>
            </tr>
            <tr>
              <td class="text-end">
                <input type="submit" value=" Save " class="btn btn-primary" />
              </td>
            </tr>
          </form>
        </tbody>
      </table>
    </div>

    <div class="col-sm-8">
      <table class="table table-hover shadow">
        <thead>
          <tr >
            <th>Name Kh</th>
            <th>Name En</th>
            <th>Abbreviation</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody id="tbl_main_program">
          <tr>
            <td>Mary</td>
            <td>Moe</td>
            <td>mary@example.com</td>
            <td>mary@example.com</td>
          </tr>
          <tr>
            <td colspan="4">
              <footer class="app-footer">
                <!--begin::To the end-->
                <div class="float-end d-none d-sm-inline">
                  Anything you want
                </div>
                <!--end::To the end-->
                <!--begin::Copyright-->

                <strong>
                  Copyright &copy; 2014-2025&nbsp;
                  <a href="https://adminlte.io" class="text-decoration-none"
                    >Base Techs </a
                  >.
                </strong>
                All rights reserved.
                <!--end::Copyright-->
              </footer>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
        $(document).ready(function(){

mainprogramdata();
function mainprogramdata(){
  $.ajax({
    type:"GET",
    url:"{% url 'main-program-data'%}",
    async: true,
    contentType: 'application/json;charset=utf-8',
    success:function(response){
      
      $("#tbl_main_program").html(mpdata(response))
    console.log(response);
                  },
        error:function(){
        alert("error");
                }
  });

}
function mpdata(data){
  var str="";
  for(var i=0;i<data.mainprogram.length;i++){
    str += "<tr>" +
                        "<td>" + data.mainprogram[i].id + "</td>" +
                        "<td>" + data.mainprogram[i].mp_name_kh + "</td>" +
                        "<td>" + data.mainprogram[i].mp_name_en + "</td>" +
                        "<td>" + data.mainprogram[i].created_at + "</td>" +
                        "</tr>";
  }
  return str;
}
 











     function mainprogramsubmit(event){
      event.preventDefault();
      valInArray=$(this).serializeArray();
      const body={}

     /* valInArray.forEach(e=>{
        body[e.name]=e.value
      })*/
      valInArray.reduce((body,e)=>{
        body[e.name]=e.value
        return body
      },body)
      
       $.ajax({
            
      type:"POST",
      url:"{% url 'main-program-save'%}",
      data:body,
      success:function(response){
        mainprogramdata();
        // console.log(response);
                    },
        
    });
    }


    function aa(){

      alert("dfd");
    }
 

  
    $("#mainprogramform").submit(
      mainprogramsubmit
    )

        });
</script>
{%endblock%}
