<script>
   function myfun(a){
      console.log(a);
    };

    function mainProgramUpdateShow(id) {
     url=window.origin+"/main-program-update-show/"+id+"/";
      
     // url="{%url 'mainProgramUpdateShow' "1" %}";
      console.log(url);
      $.ajax({
        type: "GET",
        url: url,
        async: true,
        contentType: "application/json;charset=utf-8",
        success: function (response) {
          //$("#tbl_main_program").html(mpdata(response));
          console.log(response);
        },
        error: function () {
          alert(window.location.origin);
        },
      });
    }
  $(document).ready(function () {
    
    
   
    mainprogramdata();
    function mainprogramdata() {
      $.ajax({
        type: "GET",
        url: "{% url 'main-program-data'%}",
        async: true,
        contentType: "application/json;charset=utf-8",
        success: function (response) {
          $("#tbl_main_program").html(mpdata(response));
          console.log(response);
        },
        error: function () {
          alert("error");
        },
      });
    }

    $("#sara").click(function(){
      console.log("Hiii");
    });
    
    
    function mpdata(data) {
      var str = "";
      for (var i = 0; i < data.mainprogram.length; i++) {
        str +=
          "<tr>" +
          
          "<td>" +
          data.mainprogram[i].mp_name_kh +
          "</td>" +
          "<td>" +
          data.mainprogram[i].mp_name_en +
          "</td>" +
          "<td>" +
          data.mainprogram[i].abbreviation +
          "</td>" +
          "<td >" +
          "<a href='javascript:void(0)' ><i class='edit-icon bi bi-pencil-square ' data-bs-toggle='modal' data-bs-target='#mainprogramModal' onclick=mainProgramUpdateShow("+data.mainprogram[i].id+")></i></a>&ensp;&ensp; <a href='#' ><i class='delete-icon bi bi-trash '></i></a>" +
          "</td>" +
          "</tr>";
      }
      return str;
    }

    function mainprogramsubmit(event) {
      event.preventDefault();
      valInArray = $(this).serializeArray();
      const body = {};

      /* valInArray.forEach(e=>{
        body[e.name]=e.value
      })*/
      valInArray.reduce((body, e) => {
        body[e.name] = e.value;
        return body;
      }, body);
      
      $.ajax({
        type: "POST",
        url: "{% url 'main-program-save'%}",
        data: body,
        success: function (response) {
          mainprogramdata();
          // console.log(response);
        },
      });
    }

    function aa() {
      console.log("tom");
    }

    $("#mainprogramform").submit(mainprogramsubmit);
  });
</script>
