<!doctype html>
<html>
{% include "partials/header-user.html" %}
  <body oncontextmenu="return false;" class="snippet-body">
    <section class="body">
      <div class="container">
        <div class="login-box">
          <div class="row">
            <div class="col-sm-6">
            
              {% comment %} <div class="logo"><span class="logo-font">Base</span>Techs</div> {% endcomment %}
              <div class="logo">
              
              <img src="https://res.cloudinary.com/djyb9zzni/image/upload/v1770108312/bt_tinpvb.jpg" 
              width="100" height="100"
              class="rounded-circle" alt="Cinque Terre">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <br />
              <h3 class="header-title">LOGIN</h3>
              
              {% include "partials/login_form-user.html" %}
            </div>
            
            <div class="col-sm-6 hide-on-mobile">
              {% include "partials/slider-user.html" %}


            </div>
          </div>
        </div>
      </div>
    </section>
    <script type="text/javascript"></script>
    
    {%include 'partials/scripts/show_password-user.html'%}

    </body>
</html>
