<tr class="align-middle">
  <td>{{teacher.id}}</td>
  <td>{{teacher.fname}}</td>
  <td>{{teacher.lname}}</td>
  <td>{{teacher.dob|date:"d M, Y"}}</td>
  <td><img src="{{teacher.teacher_image.url}} " alt="Base Techs" width="40" height="50"></img></td>
  <td>{{teacher.created_at|date:"d M, Y"}}</td>
  <td class="text-center">
    <a href="javascript:void(0);"
      ><i
        class="edit-icon bi bi-pencil-square"
        hx-get="{%url 'update' teacher.id%}"
        hx-trigger="click"
        hx-target="#teachme"
        hx-swap="innerHTML"
      ></i></a
    >&ensp;&ensp;
    <a href="javascript:void(0);"
      ><i
        class="delete-icon bi bi-trash"
        hx-get="{% url 'delete_teacher' teacher.id %}"
        hx-target="#modal_content"
        hx-trigger="click"
        hx-swap="innerHTML"
        data-bs-toggle="modal"
        data-bs-target="#modal_teacher"
        class="btn btn-danger"
      ></i
    ></a>
  </td>
</tr>

