<tr>
  <td>{{teacher.id}}</td>
  <td>{{teacher.fname}}</td>
  <td>{{teacher.lname}}</td>
  <td>{{teacher.created_at|date:"d M, Y"}}</td>
  <td class="text-center">
    <a href=""
      ><i
        class="edit-icon bi bi-pencil-square"
        hx-get="{%url 'update' teacher.id%}"
        hx-trigger="click"
        hx-target="#teachme"
        hx-swap="outerHTML"
        {% comment %} hx-swap="innerHTML" {% endcomment %}
      ></i></a
    >&ensp;&ensp;
    <a href=""><i class="delete-icon bi bi-trash"></i></a>
  </td>
</tr>
