 <div id="tblstu">
 <table class="table table-bordered" >
    <thead>
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Created Date</th>
      </tr>
    </thead>
    <tbody id="student_tbl">
      {%for teacher in teachers%}
     <tr>
      <td>{{teacher.id}}</td>
      <td>{{teacher.fname}}</td>
      <td>{{teacher.lname}}</td>
      <td>{{teacher.created_at|date:"d M, Y"}}</td>
      
     </tr>
     {%endfor%}
     
    
    
    </tbody>
  </table>

</div>