
<div class="col-sm-4" id="teachme">
  <table class="table table-borderless shadow" id="tblTeacher" >
    <tbody>
     
        <tr>
          <td>
             <form id="teacher_create"
        hx-post="{%url 'create-teacher'%}"
        method="POST"
        hx-target="#teacher_tbl"
        hx-swap="afterbegin"
      
      >
        {% csrf_token %}
            <label for="lblmp_name_kh" class="form-label">Name in Kh</label>
            {{tForm.fname}}
 <label for="lblmp_name_en" class="form-label required"
              >Name in En</label
            >
            {{tForm.lname}}
            <input
              type="submit"
              value={{button}}
              class="btn btn-outline-primary"
            />
          </form>
          </td>
        </tr>
       
      
    </tbody>
  </table>
</div>
