 <div class="col-sm-4" id="teachme">
      <table class="table table-borderless shadow">
        <tbody >
          <form hx-post="{%url 'create-teacher'%}" id="teacher_create">
            {% csrf_token %}
            <tr>
              <td>
                <label for="lblmp_name_kh" class="form-label">Name in Kh</label>
                {{tForm.fname}}
              </td>
            </tr>
            <tr>
              <td>
                <label for="lblmp_name_en" class="form-label required"
                  >Name in En</label
                >
                {{tForm.lname}}
              </td>
            </tr>
            
            <tr>
              <td class="text-end">
                <input type="submit" value=" Save " class="btn btn-primary" />
              </td>
            </tr>
          </form>
        </tbody>
      </table>
    </div>