<div class="col-sm-12">
  <table class="table table-borderless shadow">
    <tbody >
      
      
        <tr>
          <td>
            <form id="updateTeacher"
        hx-post="{%url 'update' id%}"
        method="POST"
        hx-target="#co8"
        hx-swap="outerHTML"
      >
        {% csrf_token %}
            <label for="lblmp_name_kh" class="form-label">Name in Kh</label>
            {{tForm.fname}}

             <label for="lblmp_name_en" class="form-label required"
              >Name in En</label
            >
            {{tForm.lname}}
            <input
              type="submit"
              value=" Update "
              class="btn btn-outline-primary"
             
            />
            </form>
          </td>
        </tr>
       
      
    </tbody>
  </table>
</div>
