annotated-types==0.7.0
asgiref==3.11.0
Django==5.2.10
django-bootstrap-datepicker-plus==5.0.6
django-widget-tweaks==1.5.0
gunicorn==23.0.0
packaging==25.0
pydantic==2.12.5
pydantic_core==2.41.5
sqlparse==0.5.4
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
whitenoise==6.11.0
