<form class="login-form" action="{%url 'login'%}" autocomplete="off" method="POST">
    {% csrf_token %}
                        <div class="form-group input-icon">
                            <i class="bi bi-person-fill"></i>
                            <input type="text" class="form-control" placeholder="Email or UserName" name="username">
                        </div>
                        <div class="form-group input-icon">
                            <i class="bi bi-lock-fill"></i>
                            <input type="Password" class="form-control" placeholder="Password" id="password" name="password">
                            {% comment %} <a href="#!" class="forgot-password">Forgot Password?</a> {% endcomment %}
                              <span class="toggle-password">
      <i class="bi bi-eye-fill"></i>
    </span>
                        </div>
                        <div class="form-group">
                            
                            <input   type="submit" class="btn btn-primary btn-block" value="Signin">
                        </div>
                        <div class="form-group">
                            {% for message in messages%}
                            <p>{{message}}</p>
                           {% endfor %}
                            <div class="text-center">New Member? <a href="#!">Sign up Now</a></div>
                        </div>
                    </form>
                     