{%extends 'main.html'%}

{%block title%} Teacher {%endblock%} 

 {%block contentheader%}
Teacher
{%endblock%}

 {%block breadcrumb%}
Teacher
{%endblock%}
{%block search_textbox%}
<input class="form-control" type="text" 
placeholder="Search" 
name="search"
hx-get="{%url 'search'%}"
hx-trigger="keyup"
hx-target="#tblteacher"
hx-indicator="#spinner"
/>

{%endblock%}
{%block content%}

{%include 'partials/spinner.html'%}
<div class="row">
  <div class="row">
    {%include 'partials/save-form_teacher.html'%}
   {%include 'partials/detail-list_teacher.html'%}
   
  </div>
</div>


<div id="sala"></div>
{%endblock%}