{%extends 'main.html'%}

 {%block title%} Teacher {%endblock%} 

 {%block contentheader%} 
 Teacher
 <a href="{% url 'export_teachers_csv' %}"
 
 
 >To CSV </a>&nbsp;
 <a href="{% url 'export_teachers_csv' %}"
 
 
 >To Excel </a>
 
 
 {%endblock%} 

 {%block breadcrumb%} Teacher {%endblock%}

{%block search_textbox%}
<div class="input-group" id="search_form-teacher">
 {%include 'partials/search-textbox_teacher.html'%}
 {%include 'partials/spinner_teacher.html'%}
</div>
{%endblock%} 

{%block content%} 


<div class="row">
  <div class="row" id="myRow">
    {%include 'partials/save-form_teacher.html'%} 
    {%include 'partials/detail-list_teacher.html'%}
  </div>
</div>
{%include 'partials/modal-delete-teacher.html'%}




{%endblock%}
