<div class="sidebar-wrapper">
          <nav class="mt-2">
            <!--begin::Sidebar Menu-->
            <ul
              class="nav sidebar-menu flex-column"
              data-lte-toggle="treeview"
              role="navigation"
              aria-label="Main navigation"
              data-accordion="false"
              id="navigation"
            >
              <li class="nav-item {% if request.path == "" %}
                    menu-open
                  {% else %}
                    
                  {% endif %}">
                <a href="#" class="nav-link ">
                  <i class=" nav-icon bi bi-speedometer "></i>
                  <p>
                    <span >DASHBOARD</span>
                   <i class="text-size nav-arrow bi bi-chevron-right"></i>
                  </p>
                </a>
               
              </li>
              <li class="nav-item nav-flat {% if request.path == "/student/" or request.path == "/main-program/" or request.path == "/sub-program/" or request.path == "/teacher/" %}
                    menu-open
                  {% else %}
                    
                  {% endif %}">
                <a href="#" class="nav-link">
                  <i class="nav-icon bi bi-buildings "></i>
                  <p small-text>
                    SCHOOL
                    <i class="nav-arrow bi bi-chevron-right "></i>
                  </p>
                </a>
                <ul class=" nav nav-treeview">
                 
                  <li class="nav-item {% if request.path == "/student/" or request.path == "/main-program/" or request.path == "/sub-program/" or request.path == "/teacher/" %}
                        menu-open
                      {% else %}
                        
                      {% endif %}">
                    <a href="#" class="nav-link text-sm ">
                      <i class="nav-icon bi bi-mortarboard "></i>
                      <p>
                        Academic
                        <i class="nav-arrow bi bi-chevron-right"></i>
                      </p>
                    </a>
                    <ul class="nav nav-treeview">
                      <li class="nav-item {% if request.path == "/student/" or request.path == "/main-program/" or request.path == "/sub-program/" or request.path == "/teacher/"%}
                                      menu-open
                                    {% else %}
                                      
                                    {% endif %}">
                        <a href="#" class="nav-link">
                          <i class="nav-icon bi bi-gear"></i>
                          <p>
                            Setup<i class="nav-arrow bi bi-chevron-right"></i>
                          </p>
                        </a>

                        <ul class="nav nav-treeview">
                        <li class="nav-item {% if request.path == "/student/" or request.path == "/main-program/" or request.path == "/sub-program/" or request.path == "/teacher/"%}
                                      menu-open
                                    {% else %}
                                      
                                    {% endif %}">
                          <a href="#" class="nav-link">
                            <i class="nav-icon bi bi-p-circle"></i>
                          <p>
                          Program<i class="nav-arrow bi bi-chevron-right"></i>
                          </p>
                        </a>
                        <ul class="nav nav-treeview">
                          <li  class="nav-item">
                            <a href="{%url 'main-program'%}" class="nav-link {% if request.path == "/main-program/" %}
                                      active
                                    {% else %}
                                      
                                    {% endif %}">
                              <i class="nav-icon bi bi-circle "></i>
                              <p style="">Main Program</p>
                            </a>
                          </li>
                        </ul>
                        <ul class="nav nav-treeview">
                          <li  class="nav-item">
                            <a href="{%url 'sub-program'%}" class="nav-link {% if request.path == "/sub-program/" %}
                                      active
                                    {% else %}
                                      
                                    {% endif %}">
                              <i class="nav-icon bi bi-circle "></i>
                              <p style="">Sub Program</p>
                            </a>
                          </li>
                        </ul>
                        </li>
                        </ul>
                        <ul class="nav nav-treeview">
                          <li  class="nav-item">
                            <a  href="{%url 'student'%} "    class="nav-link {% if request.path == "/student/" %}
                                      active
                                    {% else %}
                                      
                                    {% endif %}">
                              <i class="nav-icon bi bi-mortarboard "></i>
                              <p style="">thom</p>
                            </a>
                          </li>
                        
                        </ul>
                        <ul class="nav nav-treeview">
                          <li  class="nav-item">
                            <a  href="{%url 'teacher'%} "    class="nav-link {% if request.path == "/teacher/" %}
                                      active
                                    {% else %}
                                      
                                    {% endif %}">
                              <i class="nav-icon bi bi-mortarboard "></i>
                              <p style="">Teacher</p>
                            </a>
                          </li>
                        
                        </ul>
                      </li>
                      <!-- <li class="nav-item">
                        <a href="#" class="nav-link">
                          <i class="nav-icon bi bi-record-circle-fill"></i>
                          <p>Level 3</p>
                        </a>
                      </li> -->
                      <!-- <li class="nav-item">
                        <a href="#" class="nav-link">
                          <i class="nav-icon bi bi-record-circle-fill"></i>
                          <p>Level 3</p>
                        </a>
                      </li> -->
                    </ul>
                  </li>
                  <!-- <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="nav-icon bi bi-circle"></i>
                      <p>Level 2</p>
                    </a>
                  </li> -->
                </ul>
              </li>
              <li class="nav-item nav-flat ">
                <a href="#" class="nav-link  ">
                  <i class="nav-icon bi bi-wrench-adjustable-circle "></i>
                  <p small-text>
                    REPARING
                    <i class="nav-arrow bi bi-chevron-right "></i>
                  </p>
                </a>
                <ul class=" nav nav-treeview">
                  <!-- <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="nav-icon bi bi-circle"></i>
                      <p>Level 2</p>
                    </a>
                  </li> -->
                  <li class="nav-item">
                    <a href="#" class="nav-link text-sm ">
                      <i class="nav-icon bi bi-circle"></i>
                      <p>
                        Level 2
                        <i class="nav-arrow bi bi-chevron-right"></i>
                      </p>
                    </a>
                    
                  </li>
                  <!-- <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="nav-icon bi bi-circle"></i>
                      <p>Level 2</p>
                    </a>
                  </li> -->
                </ul>
              </li>
              <li class="nav-item nav-flat ">
                <a href="#" class="nav-link  ">
                  <i class="nav-icon bi bi-shield-lock "></i>
                  <p small-text>
                    SECURITY
                    <i class="nav-arrow bi bi-chevron-right "></i>
                  </p>
                </a>
                <ul class=" nav nav-treeview">
                  <!-- <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="nav-icon bi bi-circle"></i>
                      <p>Level 2</p>
                    </a>
                  </li> -->
                  <li class="nav-item">
                    <a href="#" class="nav-link text-sm ">
                      <i class="nav-icon bi bi-circle"></i>
                      <p>
                        Level 2
                        <i class="nav-arrow bi bi-chevron-right"></i>
                      </p>
                    </a>
                    
                  </li>
                  <!-- <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="nav-icon bi bi-circle"></i>
                      <p>Level 2</p>
                    </a>
                  </li> -->
                </ul>
              </li>

              
            </ul>
            <!--end::Sidebar Menu-->
          </nav>
        </div>