
:root {
  --bs-body-font-family: 'Khmer OS Battambang', serif;
}

/*--------First---------*/
.text-indent-icon-st{
    text-indent: 2em;
    
}
.text-indent-content-st{
    text-indent: 1em;
    
}


/*--------Second---------*/
.text-indent-icon-nd{
    text-indent: 1em;
    font-size: 15px;
}
.text-indent-content-nd{
    text-indent: 0.2em;
    font-size: 15px;
}


/*--------Third---------*/
.text-indent-icon-rd{
    text-indent: 2em;
    font-size: 14px;
}
.text-indent-content-rd{
    text-indent: 0.8em;
    font-size: 14px;
}




.my-arrow{
    transform: translateY(-50%) rotate(20deg);
    color:red;
}



.gear-spin:hover {
 animation-name:spin;
  animation-duration: 3s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



 label.required::after {
    content: "*"; /* Add a space before the asterisk */
    color: rgb(255, 0, 0);
    font-size: 20px;
  }

  .delete-icon:hover{
    color:rgb(65, 2, 2);
    
  }
  .edit-icon:hover{
    color:rgb(0, 26, 255);
    
  }
  .edit-icon{
    color:rgb(0, 148, 62);
  }
  .delete-icon{
    color:rgb(255, 0, 0);
  }

