:root {
    --bs-body-font-size: 4rem;
    /* default is 1rem (16px) */
}

.text-indent{
    text-indent: 2em;
    
}
.text-size{
    
    font-size: 13px;
}



.my-arrow{
    transform: translateY(-50%) rotate(20deg);
    color:red;
}