
:root {
  --bs-body-font-family: 'Khmer OS Battambang', serif;
}
.text-indent{
    text-indent: 2em;
    
}
.text-size{
    
    font-size: 13px;
}



.my-arrow{
    transform: translateY(-50%) rotate(20deg);
    color:red;
}



.gear-spin:hover {
 animation-name:spin;
  animation-duration: 3s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



 label.required::after {
    content: "*"; /* Add a space before the asterisk */
    color: rgb(255, 0, 0);
    font-size: 20px;
  }

  .delete-icon:hover{
    color:red;
    font-size: 17px;
  }
  .edit-icon:hover{
    color:rgb(0, 156, 26);
    font-size: 17px;
  }
  .edit-icon{
    color:rgb(0, 156, 26);
  }
  .delete-icon{
    color:red;
  }

